#movie-list {
    background-color: cadetblue;
}

#big-title {
    color: rgb(189, 13, 13);
}

h2 {
    color: rgb(25, 78, 190);
}

h3 {
    color: yellow;
}

a {
    text-decoration: none;
    color: rgb(72, 255, 0);
}